@{
  ViewData["Title"] = "Home Page";
}


<section id='login_note_section'>
  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>.NET Core</h1>
    <h1>P1_AP</h1>
  </div>
</section>

<style>
  #login_note_section {
    margin-top: 150PX;
  }
</style>